.address{
    font-family: 'Whitney 4r', Helvetica, Arial, sans-serif;
    color:#305C79; font-size: 25px;font-weight:bold; margin-top:100px;
    margin-left:-4%;
}

.contact{  font-family: 'Whitney 4r', Helvetica, Arial, sans-serif;
    color:#305C79; font-size: 25px;font-weight:bold; margin-left: 6%;
}

.email{font-family: 'Whitney 4r', Helvetica, Arial, sans-serif;
    color:#305C79; font-size: 25px;font-weight:bold;
margin-left:11%;
}

